/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.background-grey {
    background-color: gray;
}

.background-white {
    background-color: rgb(255, 255, 255) !important;
}

body {
    background-image: url('../img/main_photo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}